/* #BASE CSS (Initital Setup)
---------------------------------
    #BASE CONTENT
        #TYPOGRAPHY
            #BODY
            #HEADINGS
            #PARAGRAPHS
            #LINKS
            #HELPERS
        #MEDIA
            #IMAGES
        #COMPONENTS
            #BUTTONS
    #BASE LAYOUT
        #SIMPLE RESET
        #MEDIAQUERIES
        #CONTAINER
        #GRID SYSTEM
            #CLEARFIX
    #BASE SITE
        #SITE STRUCTURE
            #HEADER
                # site-id (LOGO)
            #FOOTER
            #SECTIONS
            #SUB PAGES
            #ARTICLES
        #SITE NAVIGATION
            #TOGGLE-NAV (Default for Small Screens)
--------------------------------- */

/* TYPOGRAPHY */
body {
    font-size: 87.5%; /* 14px  */
    font-family: minion-pro, helvetica, sans-serif; 
    line-height: 1.5;
    color: rgba(0,0,0,.8)
}
 /* HEADINGS */
 /*
    Based on a Traditional Typographic Scale
    48, 36, 24, 21, 18, 16
*/

h1, h2, h3, h4, h5, h6 {
    margin: .5em 0;
}

h1 {
    font-size: 3.25em; /* 48px*/
    line-height: 1;
    font-family: abril-display, serif;
    font-style: italic;
}
 
h2 {
    font-size: 2.25em; /* 36px*/
    line-height: 1.1;
}

h3 {
    font-size: 1.5em; /* 24px*/
    line-height: 1.2;
}

h4 {
    font-size: 1.3125em; /* 21px*/
    line-height: 1.3;
}

h5 {
    font-size: 1.125em; /* 18px*/
    line-height: 1.4;
}

h6 {
    font-size: 1em; /* 16px*/
    line-height: 1.5;
    font-family: abril-display, serif;
    font-weight: 400;
    font-style: normal;
}


/* PARAGRAPH */
p {
    margin: .5em 0;
    max-width: 38em;
}

/* .centered p {
    margin-left: auto;
    margin-right: auto;
}

/* strong { 
    font-weight: 700;
}

em {
    font-style: italic;
} */

/* LINKS */
a {
    text-decoration: none;
}
/* a:hover {
    color: rgb(243, 243, 253);
   text-decoration: underline; 
}

/* HELPER CLASSES */
.text-centered {
    text-align: center;
}

.full-width {
    max-width: none;
    width: 100%;
}

.horiz-center {
    margin-left: auto;
    margin-right: auto;
}

/* IMAGES */
img {
    max-width:100%;
    height: auto;
}

/* BUTTONS 
.button,
button, form input[type="submit"] {
    font-size: inherit;
    line-height: 1;
    background-color: rgb(253, 253, 253);
    border: 1px solid rgba(0,0,255,1);
    color: rgba(255,255,255,1);
    padding: 1em;
    display: inline-block;
    margin: .5em .5em .5em 0;
    text-align: center;
    border-radius: .32em;
   
}

.button:hover,
button:hover,
form input[type="submit"]:hover {
    background-color: rgba(0,0,153,1);
    border-color: rgba(0,0,153,1); 
    color: rgba(255,255,255,1);
    text-decoration: none; 
}

.button.alt {
    background-color: transparent;
    color: rgba(0,0,153,1);
}

.button.alt:hover {
    background-color: rgba(0,0,153,1); 
    color: rgba(255,255,255,1);
}
 

/* LAYOUT */

/* SIMPLE RESET */

* { box-sizing: border-box; }
body {
    margin: 0;
}

/* CONTAINER */
.container {
    max-width: 1000px;
    margin: 0 auto;
    padding: 0 4%;
}

/* MEDIA QUERIES */

@media (min-width: 768px) {
 /* TABLET SIZE STYLING GOES HERE */
}
@media (min-width: 1050px) {
    body {
        font-size: 100%; /* 16px  */
    }
 }
@media (min-width: 1250px) {
    body {
        font-size: 112.5%; /* 18px  */
    }
    .container {
        max-width: 1200px;
    }
}

/* FOR DEMO PURPOSES ONLY 
body.demo {
    padding-top: 2em;
}

body.demo:before {
    content: "Small (Mobile) Less Than 768px";
    background-color: rgb(255, 255, 255); 
    width: 100%;
    position: fixed;
    top: 0;
    text-align: center;
    color: white; 
    padding: .5em;
}

@media (min-width: 768px) {
    body.demo:before {
        background-color: rgb(127, 42, 94);
        content: "Midsize (Tablet) 768px - 1050px";
    }
}
@media (min-width: 1050px) {
    body.demo:before {
        background-color:rgb(72, 89, 167);
        content: "Large (Notebook) 1050px - 1250px";
    }
}
@media (min-width: 1250px) {
     body.demo:before {
        background-color:rgb(14, 38, 98);
        content: "X-Large (Desktop) 1250px";
    }
}
  
/* SEMANTIC GRID SYSTEM 

    .row > .column {
    margin-bottom: 2%;
}

@media (min-width: 768px) {
        
    .row {
        display: flex;
        justify-content:space-between;
        margin-left: -2%;
        margin-right: -2%;
    }

    .row > .column {
        flex-grow: 1;
        margin-left: 2%;
        margin-right: 2%;
    }

    .row > .column.one-half {
        max-width: 46%;
    }

    .row > .column.one-third {
        max-width: 29.333%
    }

    .row > .column.one-fourth {
        max-width: 21%
    }
        
    .row > .column.two-third {
        max-width:62.6666%
    } 

    .row > .column.three-fourth {
        max-width:71%
    }
         
    .row > .column.push-one-third {
        margin-left: 35.3333%
    }

    .row > .column.push-one-fourth {
        margin-left: 27%;
    }

    .row > .column.centered {
        margin-left: auto;
        margin-right: auto;
    }
}

/* FOR DEMO PURPOSES ONLY 
.demo .column{
    background: rgba(0,0,0,.2);
    padding:1em;
    text-align: center;
}

/* SITE STRUCTURE */

/* SITE HEADER */
.site-header {
    padding: auto 0;
}

/* ON LARGER SCREENS PLACE LOGO LEFT AND NAV RIGHT */ 

@media (min-width:768px) {
    .site-header .container {
        display: flex;
        justify-content: space-between;
    }
}

/* STYLING FOR BOTH HEADER AND FOOTER */
.site-header a,
.site-footer a {
    color: rgba(0,0,0,1);
}

.site-header a:hover,
.site-footer a:hover  {
    color: rgba(0,0,0,1);
    text-decoration: none;
}

/* LOGO AREA */
.site-id h1 {
    font-size: 3em;
    margin: 0;
    padding-top: 0.75em;
    text-align: center;
}
.site-id h6 {
    font-size: 1em;
    font-family: abril-display, serif;
}

/* SITE NAV */
.site-nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    justify-content: center;
}

.site-nav a {
    display: block;
    padding: 1em; 
}

.site-nav .menu-button {
    display: none;
}


/* SECTIONS*/
section {
    padding: 3em 0;
}

/* HERO */
.hero {
    padding: 6em 1em;
    background-color: rgba(246, 246, 246, 0.809);
    text-align: center;
}

.hero h1 {
    max-width: 500px;
    margin-left: auto;
    margin-right: auto;
}

.hero p {
    max-width: 500px;
    margin-left: auto;
    margin-right: auto;  
}

/* TOGGLE NAV*/ 

@media (max-width:768px) {
    .toggle-nav .site-id {
        position: absolute;
    }
    .toggle-nav .site-nav {
       text-align: right;
    }
    .toggle-nav .site-nav .menu-button {
        display: block;
        display: inline-block;
        cursor: pointer;
        padding: .3em .8em;
        margin-bottom: .8em;
        border: 1px solid black;
    }
    .toggle-nav .site-nav .menu-button::selection {
        background-color: rgba(206, 206, 206, 0);
    }
    .toggle-nav .site-nav ul {
        display: block;
        text-align: center;
    }
    .toggle-nav .site-nav a:hover {
        background-color: rgb(154, 154, 154);
        
    }
    .toggle-nav[data-navstate="closed"] ul {
        height: 0;
        overflow: hidden;
    }
    .toggle-nav[data-navstate="open"] ul {
        height: auto;
        overflow: visible;
    }

    /* NAVICON */
    .toggle-nav .site-nav .menu-button.navicon {
        border: none;
        color: rgba(255,255,255,0);
       padding: 0; 
    }
    .toggle-nav .site-nav .menu-button.navicon::after {
        content: "\2630";
        display: inline-block;
        padding: .7em .4em;
        margin: 0;
        color: rgba(0,0,0,.8);
        font-size: 1.5em;
    }
    .toggle-nav[data-navstate="open"] .site-nav .menu-button.navicon::after {
        content: '\2715'
    }
    
}

    /* SUB PAGES 
article {
    max-width: 600px;
    margin-left: auto;
    margin-right: auto;
}
article h1 {
    text-align: center;
}
article h1 + h2 {
    text-align: center;
    font-size: 1.5em;
    line-height: 1.25em;
    font-weight: normal;
    margin-bottom: 1em;
}
article .date {
    text-align: center;
    font-size: 0.625em;
    line-height: 0.625em;
    color: #999;
    font-weight: normal;
}
article .date + p {
    margin-top: 2em;
}
article p + h2,
article p + h3,
article p + h4,
article p + h5,
article p + h6 {
    margin-top: 1em;
}

.date {
    max-width: 500px;
    margin-left: auto;
    margin-right: auto;
}

/* FORMS 

form {
    max-width:600px;
    margin: 2em auto;
}

form label,
form input,
form textarea {
    box-sizing: border-box;
    display: block;
    width: 100%;
    font-size: 1em;
}

form label {
    margin-top: 1em;
    margin-bottom: 0.25em;
}

form input[type="text"],
form textarea {
    border: 1px solid #ccc;
    padding: .5em;
    color: #666
}

form textarea {
    min-height: 10em;
    line-height: 1.5;
}

form input[type="submit"] {
    width: auto;
    margin-top: 1.5em;
}

/* CUSTOM SITE CSS */

.section-title {
    text-align: center;
    margin-bottom: 3em;
}

.section-title::after {
    content: "";
    display: block;
    width: 100px;
    margin: 0.5em auto;
    border-bottom: 3px solid rgba(0,0,0,0.2);
}


header {
    background-color: #A9CDDD;
}

.container h6 {
    font-size: 1em;
}